<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>driver</param-name>
        <param-value>org.postgresql.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:postgresql://localhost:5432/dbperu</param-value>
    </context-param>
    <context-param>
        <param-name>username</param-name>
        <param-value>postgres</param-value>
    </context-param>
    <context-param>
        <param-name>pwname</param-name>
        <param-value>1234</param-value>
    </context-param>
    <servlet>
        <servlet-name>SLogin</servlet-name>
        <servlet-class>twitter.servlet.SLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCerrarsesion</servlet-name>
        <servlet-class>twitter.servlet.SCerrarsesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SGetTwitter</servlet-name>
        <servlet-class>twitter.servlet.SGetTwitter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SListarPuntosPendiente</servlet-name>
        <servlet-class>twitter.servlet.SListarPuntos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SListarPuntosPendientes</servlet-name>
        <servlet-class>twitter.servlet.SListarPuntosPendientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SListarDate</servlet-name>
        <servlet-class>twitter.servlet.SListarDate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SActualizar</servlet-name>
        <servlet-class>twitter.servlet.SActualizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveData</servlet-name>
        <servlet-class>lab_refreshpages.SaveData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SListarPuntos</servlet-name>
        <servlet-class>twitter.servlet.SListarPuntos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SRegistrarPunto</servlet-name>
        <servlet-class>twitter.servlet.SRegistrarPunto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SListarEstadisticas_day</servlet-name>
        <servlet-class>twitter.servlet.SListarEstadisticas_day</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SListarEstadisticas_month</servlet-name>
        <servlet-class>twitter.servlet.SListarEstadisticas_month</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SListarPuntosAtendidos</servlet-name>
        <servlet-class>twitter.servlet.SListarPuntosAtendidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SNewUser</servlet-name>
        <servlet-class>twitter.servlet.SNewUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCaptchas</servlet-name>
        <servlet-class>twitter.servlet.SCaptchas</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SLogin_users</servlet-name>
        <servlet-class>twitter.servlet.SLogin_users</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SLogin_changepassword</servlet-name>
        <servlet-class>twitter.servlet.SLogin_changepassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCerrarsesion_users</servlet-name>
        <servlet-class>twitter.servlet.SCerrarsesion_users</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SRegistrar_Delincuencia</servlet-name>
        <servlet-class>twitter.servlet.SRegistrar_Delincuencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SRegistrar_Agujero</servlet-name>
        <servlet-class>twitter.servlet.SRegistrar_Agujero</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SRegistrar_Desechos</servlet-name>
        <servlet-class>twitter.servlet.SRegistrar_Desechos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SExecute_Twiter</servlet-name>
        <servlet-class>twitter.servlet.SExecute_Twiter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SExecute_Twiter_Delincuencia</servlet-name>
        <servlet-class>twitter.servlet.SExecute_Twiter_Delincuencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SListPuntos_Delincuencia</servlet-name>
        <servlet-class>twitter.servlet.SListPuntos_Delincuencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SListar_Date_Delincuencia</servlet-name>
        <servlet-class>twitter.servlet.SListar_Date_Delincuencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SListar_Date_Delincuencia_Day</servlet-name>
        <servlet-class>twitter.servlet.SListar_Date_Delincuencia_Day</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SListar_Date_Delincuencia_Month</servlet-name>
        <servlet-class>twitter.servlet.SListar_Date_Delincuencia_Month</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SExecute_Twiter_Agujero</servlet-name>
        <servlet-class>twitter.servlet.SExecute_Twiter_Agujero</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SListPuntos_Agujero</servlet-name>
        <servlet-class>twitter.servlet.SListPuntos_Agujero</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SListar_Date_Agujero</servlet-name>
        <servlet-class>twitter.servlet.SListar_Date_Agujero</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SListar_Date_Agujero_Day</servlet-name>
        <servlet-class>twitter.servlet.SListar_Date_Agujero_Day</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SListar_Date_Agujero_Month</servlet-name>
        <servlet-class>twitter.servlet.SListar_Date_Agujero_Month</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SLogin</servlet-name>
        <url-pattern>/SLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCerrarsesion</servlet-name>
        <url-pattern>/SCerrarsesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SGetTwitter</servlet-name>
        <url-pattern>/SGetTwitter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SListarPuntosPendientes</servlet-name>
        <url-pattern>/SListarPuntosPendientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SListarDate</servlet-name>
        <url-pattern>/SListarDate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SActualizar</servlet-name>
        <url-pattern>/Servlet_Actualizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveData</servlet-name>
        <url-pattern>/saveIt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SListarPuntos</servlet-name>
        <url-pattern>/SListarPuntos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SRegistrarPunto</servlet-name>
        <url-pattern>/SRegistrarPunto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SListarEstadisticas_day</servlet-name>
        <url-pattern>/SListarEstadisticas_day</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SListarEstadisticas_month</servlet-name>
        <url-pattern>/SListarEstadisticas_month</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SListarPuntosAtendidos</servlet-name>
        <url-pattern>/SListarPuntosAtendidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SNewUser</servlet-name>
        <url-pattern>/SNewUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCaptchas</servlet-name>
        <url-pattern>/SCaptchas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SLogin_users</servlet-name>
        <url-pattern>/SLogin_users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SLogin_changepassword</servlet-name>
        <url-pattern>/SLogin_changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCerrarsesion_users</servlet-name>
        <url-pattern>/SCerrarsesion_users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SRegistrar_Delincuencia</servlet-name>
        <url-pattern>/SRegistrar_Delincuencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SRegistrar_Agujero</servlet-name>
        <url-pattern>/SRegistrar_Agujero</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SRegistrar_Desechos</servlet-name>
        <url-pattern>/SRegistrar_Desechos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SExecute_Twiter</servlet-name>
        <url-pattern>/SExecute_Twiter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SExecute_Twiter_Delincuencia</servlet-name>
        <url-pattern>/SExecute_Twiter_Delincuencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SListPuntos_Delincuencia</servlet-name>
        <url-pattern>/SListPuntos_Delincuencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SListar_Date_Delincuencia</servlet-name>
        <url-pattern>/SListar_Date_Delincuencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SListar_Date_Delincuencia_Day</servlet-name>
        <url-pattern>/SListar_Date_Delincuencia_Day</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SListar_Date_Delincuencia_Month</servlet-name>
        <url-pattern>/SListar_Date_Delincuencia_Month</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SExecute_Twiter_Agujero</servlet-name>
        <url-pattern>/SExecute_Twiter_Agujero</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SListPuntos_Agujero</servlet-name>
        <url-pattern>/SListPuntos_Agujero</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SListar_Date_Agujero</servlet-name>
        <url-pattern>/SListar_Date_Agujero</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SListar_Date_Agujero_Day</servlet-name>
        <url-pattern>/SListar_Date_Agujero_Day</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SListar_Date_Agujero_Month</servlet-name>
        <url-pattern>/SListar_Date_Agujero_Month</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
